h1 
{
	 padding-top: 5%;
	 text-align: center;
	  font-size: 15px;
}

nav
{
	 padding-top:10%;
}
.collapse
{
	padding-top:0%;
}
.navbar
{
	padding-top:1%;	
	margin-left: auto;
    margin-right: auto;
}