@font-face {
font-family: "Roboto-Bold"; 
// адрес шрифта и тип 
src: url("../fonts/Roboto-Bold.ttf") format("truetype"); 
font-style: normal; 
font-weight: normal; 
} 
@font-face {
font-family: "Roboto-Medium"; 
// адрес шрифта и тип 
src: url("../fonts/Roboto-Medium.ttf") format("truetype"); 
font-style: normal; 
font-weight: normal; 
}
@font-face {
font-family: "Roboto-Thin"; 
// адрес шрифта и тип 
src: url("../fonts/Roboto-Thin.ttf") format("truetype"); 
font-style: normal; 
font-weight: normal; 
}  
h5
{
	font-family: "Roboto-Thin";
}
h1 
{
	margin: 30px 0px;
	 padding-top: 20px;
	 padding-bottom: 20px;
	 text-align: center;
	  font-size: 20px;
	  color: white;
}
p
{
	font-family: "Roboto-Medium";
	 text-align: center;
	 font-size: 15px;
}
.text
{
	text-align:left;
	margin-left:30%;
}
.text2
{
	text-align:left;
	padding: 0px 30px;
}
.text3
{
	text-align:left;
	margin-left:20%;
}
nav
{
	 padding-top:10%;
}
.collapse
{
	padding-top:0%;
}
.navbar
{
	padding-top:1%;	
	margin-left: auto;
    margin-right: auto;
}
.pic 
{
	padding-top:5%;
	
}
.language
{
   margin-top:2%;
}

.language-flag
{
	display: inline;
	padding: 0px 10px;
}

.en_flag
{
	border: 1px solid #555;
	border-color: #FFFFFF;
}
.ee_flag
{
	border: 1px solid #555;
	border-color: #FFFFFF;
}
.ru_flag
{
	border: 1px solid #555;
	border-color: #FFFFFF;
}


/* Style the navigation menu */
.navbar {
  width: 100%;
  }
 

/* Navigation links */
.navbar a {
  float: left;
  padding: 12px;
  color: white;
  border: 1px solid #555;
  border-color: #FFFFFF;
  text-decoration: none;
  font-size: 17px;
  width: 25%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
  text-align: center; /* If you want the text to be centered */
  border-radius: 12px;
}

/* Add a background color on mouse-over */
.navbar a:hover {
  background-color: #C0C0C0;
}

/* Style the current/active link */
.navbar a.active {
  background-color: #4CAF50;
}

/* Add responsiveness - on screens less than 500px, make the navigation links appear on top of each other, instead of next to each other */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
    width: 100%;
    text-align: left; /* If you want the text to be left-aligned on small screens */
  }
}

body 
{
	padding-right:2%;
	padding-left:2%;
	padding-bottom:2%;
	background-color: black;
  /*background: url(pictures/background2.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
}

.rectangle
{
	background-color: #000;
	height: 15px;
	width: 100%;
}

.text_me 
{
	 width: 90%; /* задаете свои размеры */
    height: 300px;
	margin-top:20px;
	border: solid;
	border-radius: 5px;
	border-color: grey;
	 background-color: #FFFFFF;
	 -webkit-box-shadow: 9px 9px 19px 6px rgba(215,212,255,0.27);
-moz-box-shadow: 9px 9px 19px 6px rgba(215,212,255,0.27);
box-shadow: 9px 9px 19px 6px rgba(215,212,255,0.27);
margin: 0px 25px;
}
.subtitle
{
padding: 30px 0px;
}
h2
{
	 text-align: center;
	 font-size: 20px;
	 margin-top: 20px;
	 margin-bottom:30px;
	 color: white;
}
h3
{
	 text-align: center;
	 font-size: 18px;
}

.Contact
{
background-color:rgba(0,0,0,0.1);
}

.About_me
{
background-color:rgba(0,0,0,0.8);
}

.My_work
{
background-color:rgba(0,0,0,0.8);
}

.skills-container
{
		display: flex;
    justify-content: space-between; 
    width: 100%;
    max-width: 1200px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -50px;
}

.skill-column {
    flex: 1;
    padding: 0 15px;
    text-align: center; 
}

.skills-number-title {
    font-size: 2em;
    font-weight: bold;
    color: white;
    margin-bottom: 5px;
}

.skills-text-description {
    font-size: 1.1em;
    color: #666;
}

.works_show
{
	display: flex;
	justify-content: center;
}

.works
{
	margin-top:5%;
}

.works_show
{	
	margin-left: auto;
    margin-right: auto;
	padding-top:5px;	
}

.card
{
	margin-top:5%;
	margin-right:20px;
}

.contact
{
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 10px;
	text-align:center;
}
.e-mail
{
	font-size: 16px;
	margin-top: 30px;
	margin-bottom: 30px;
}
.copyright
{
	font-size: 14px;
	margin-top: 30px;
}
.social
{
	margin-left:30px;
	margin-right:30px;
}
.socialheader
{
  margin:auto;
  width: 50%;

}
.icon
{
	margin-left:2%;
	margin-right:2%;
	margin-top: 15px;
}
.icon:hover{
box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 255.2), 0 6px 20px 0 rgba(0, 0, 0, 0.50);
}

.cv-btn
{
	margin-top: 50px!important;
	background-color: transparent;
	border: solid;
	border-width: 1px;
	border-color: white;
	padding: 10px 20px;
	color: white;
	text-align: left;
	margin-left: 3%!important;
}
.cv-btn:hover
{
	color: white;
	color: black;
}


#myBtn {

  display: none;

  position: fixed;

  bottom: 5px;

  right: 10px;

  z-index: 99;

  font-size: 18px;

  border: none;

  background-color: white;

  outline: none;

  cursor: pointer;

  padding: 15px;

  border-radius: 4px;

}

#myBtn:hover 
{
  background-color: #555;
}

.center
{
	width: 120%;
	margin: 0 auto;
	margin-top:50px;
}

#spoiler > div
{
	width: 70%;
	display: flex;
  justify-content: center;
}

.More
{
	margin-top:50px;
	width: 100%;
	display: flex;
  justify-content: center;

}

.more-btn
{
	display: flex;
  justify-content: center;
}

#spoiler
{
	width: 100%;
	display: flex;
  justify-content: center;
}
.cv_ru
{
	margin-left:70px;
	margin-top:15px;
}

.cv_ee
{
	margin-left:110px;
	margin-top:15px;
}

.cv_en
{
	margin-left:110px;
	margin-top:15px;
}

.centerdiv {
  margin:0;
  position: absolute;
  margin-top:40px;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, 0%);
}

  
  .centerpic {
  left: 50%;
  -ms-transform: translate(-50%, +50%);
  transform: translate(-50%, 20%);
  }
  
 .lang 
 {
	 left: 50%;
  -ms-transform: translate(-50%, +50%);
  transform: translate(-50%, 20%);
 }
 
.card-text
{
	text-align: left;
}
  
.about-me-row{
  display: flex;
  justify-content: center;
}